# 02_03: dictionaries and sets

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [30]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [31]:
capitals['Italy']

'Rome'

In [4]:
capitals['Spain'] = 'Madrid'

In [5]:
capitals

{'United States': 'Washington, DC',
 'France': ' Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [6]:
capitals['Germany']

KeyError: 'Germany'

In [7]:
'Germany' in capitals, 'Italy' in capitals

(False, True)

In [8]:
morecapitals = {'Germany': 'Berlin', 'United Kingdom': 'London', 'India': 'New Delhi'}

In [10]:
capitals + morecapitals

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [33]:
capitals.update(morecapitals)

In [12]:
capitals

{'United States': 'Washington, DC',
 'France': ' Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London',
 'India': 'New Delhi'}

In [15]:
del capitals['United Kingdom']

In [18]:
capitals

{'United States': 'Washington, DC',
 'France': ' Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'India': 'New Delhi'}

In [19]:
birthdays = {(7,15): 'Michele', (3,14): 'Albert'}

In [20]:
birthdays

{(7, 15): 'Michele', (3, 14): 'Albert'}

In [21]:
birthdays[(7,15)]

'Michele'

In [22]:
hash('Italy')

-8550565928592223929

In [23]:
hash((7,15))

-2471369287409462312

In [24]:
{}

{}

In [25]:
len({})

0

In [26]:
for country in capitals.keys():
    print(country)

United States
France
Italy
Spain
Germany
India

In [27]:
capitals.keys()

dict_keys(['United States', 'France', 'Italy', 'Spain', 'Germany', 'India'])

In [28]:
list(capitals.keys())

['United States', 'France', 'Italy', 'Spain', 'Germany', 'India']

In [34]:
for capital in capitals.values():
    print(capital)

Washington, DC
Paris
Rome
Berlin
London
New Delhi

In [35]:
for country, capital in capitals.items():
    print(country, capital)

United States Washington, DC
France Paris
Italy Rome
Germany Berlin
United Kingdom London
India New Delhi

In [36]:
continents = {'America', 'Europe', 'Asia', 'Oceania', 'Africa', 'Africa'}

In [37]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In [39]:
'Africa' in continents

True

In [40]:
continents.add('Antartica')

In [41]:
continents.remove('Antartica')

In [43]:
for c in continents:
    print(c)

Europe
America
Asia
Oceania
Africa